#ignore everything
*

# allow these at top level
!*.snake
!*.gitignore
!*.png
!*.Rmd
!*.MD
!*.yml
!*.py

# allow the ymls in envs/
!/envs/
!/envs/*.yml
!/results/
!/results/.gitkeep
!/samples/
!/samples/.gitkeep
!/refs/
!/refs/*.png
!/docs/
!/docs.*Rmd

# Ignore .fastq.gz files in the samples folder
/samples/*.fastq.gz